<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LiveLearn - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="canonical" href="https://getbootstrap.com/docs/4.6/examples/album/">
    <link rel="shortcut icon" type="image/png"
          href="https://localhost:44357/Images/logo.png" />

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
        #signin {
            color: yellow;
            border-radius: 10px;
            margin-right: 10px;
            background-color: #343a40 !important;
            margin-left : auto;
        }

        #login {
            color: yellow;
            border-radius: 10px;
            margin-right: 25px;
            background-color: #343a40 !important;
        }

        .text-yellow {
            color: yellow;
        }

        #footer {
            position: fixed;
            padding: 10px 10px 0px 10px;
            bottom: 0;
            width: 100%;
            height: 40px;
            background-color: #343a40 !important;
        }

        #header {
            position: fixed;
            top: 0;
            width: 100%;
            height: 55px;
            z-index: 9999;
        }

        address ul a:hover{
            background-color: white;
            color:black;
        }

    </style>

</head>
<body>
    <header>
        <div class="collapse bg-dark" id="navbarHeader">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-md-7 py-4" style="margin-top: 35px;">
                        <h4 style="background-color: yellow; display: inline-block; border-radius:15px; padding:2px">About</h4>
                        <p class="text-yellow">This is an online learning platform. If you want to learn more about coding and software you are in the right place!!</p>
                    </div>
                    <div class="col-sm-4 offset-md-1 py-4" style="margin-top: 35px;">
                        <h4 style="background-color: yellow; display: inline-block; border-radius:15px; padding:2px">Contact</h4>
                        <ul class="list-unstyled">
                            <li class="text-yellow">
                                Email us:
                                <address>
                                    <ul>
                                        <a class="text-yellow" href="mailto:oz.ozcan.elmaci55@gmail.com">Özcan Elmacı</a>
                                        <br>
                                        <a class="text-yellow" href="mailto:yusufokkabas@gmail.com">Yusuf Orhan Okkabas</a>
                                        <br>
                                        <a class="text-yellow" href="mailto:tarikcanavar@gmail.com">Tarık Canavar</a>
                                    </ul>

                                </address>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="navbar navbar-dark bg-dark shadow-sm"  id="header">
            <div class="container d-flex justify-content-between">
                <a class="navbar-brand d-flex align-items-center" asp-area="" asp-controller="Home" asp-action="Index">
                    <img class="bd-placeholder-img card-img-top" width="20" height="20" style="margin-right:10px" src="https://localhost:44357/Images/logo.png" />
                    <strong style="color:yellow">LiveLearn</strong>
                </a>
                @{
                    OnlineCourseManagement.Models.Entities.Concrete.User user = OnlineCourseManagement.Controllers.AuthController.user;
                    if (user == null)
                    {
                        <a id="signin" asp-area="" asp-controller="Auth" asp-action="SignInForm">Sign In</a>
                        <a id="login" asp-area="" asp-controller="Auth" asp-action="LogInForm">Log In</a>
                    }
                    else
                    {
                        <a id="signin" asp-area="" asp-controller="Categories" asp-action="AddCategory">Add Category</a>
                        <a id="login" asp-area="" asp-controller="Courses" asp-action="AddCourse">Add Course</a>

                        <div class="dropdown">
                            <button style="background-color: #343a40 !important; color:yellow"
                                    class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                @user.Name
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="btn btn-secondary dropdown-item" asp-area="" asp-controller="CourseCarts" asp-action="GetCourseCartsByUserId" asp-route-id="@user.Id">My Courses</a>
                                <a class="btn btn-secondary dropdown-item" asp-area="" asp-controller="Auth" asp-action="LogOut">Log Out</a>
                            </div>
                        </div>
                    }
                }


                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>
    </header>
    <div class="container" style="margin-top:55px">
        <main role="main">
            @RenderBody()

        </main>
    </div>

    <footer class="border-top footer text-muted" id="footer">
        <div class="container" style="color: yellow">
            &copy; 2021-  LiveLearn - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
